<div class="container">
  <h2 class="tms-project-title"><%= @project.name %></h2>
  <div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
      <h4 class="card-title">新規タスク作成</h4>
      <p class="card-text"></p>
			<form action="/projects/<%= @project.id %>/<%= @selected_phase.id %>/create_task" method="post">
				<div class="row">
					<div class="col">
						<input class="form-control input-lg" type="text" name="task_name" placeholder="タスク名">
            <input class="form-control input-lg" type="text" name="task_memo" placeholder="メモ">
					</div>
					<div class="col col-lg-2">
            <input class="form-control btn btn-link" type="submit" value="">
						<input class="form-control btn btn-primary" type="submit" value="作成">
					</div>
			</form>
    </div>
  </div>
</div>