<div class="container">
  <% if @error_code == 1 %>
    <h2 class="tms-project-title text-danger">エラー：セッション情報がありません</h2>
    <p class="error-reason-text">セッション情報がないため、処理できませんでした。サインインしてください。</p>
  <% elsif @error_code == 2 %>
    <h2 class="tms-project-title text-danger">エラー：アカウントが違います</h2>
    <p class="error-reason-text">あなたはプロジェクトの作成者ではないため、編集できません。</p>
  <% elsif @error_code == 3 %>
    <h2 class="tms-project-title text-danger">エラー：見つかりませんでした</h2>
    <p class="error-reason-text">リクエストされたURLは無効です。</p>
  <% end %>
</div>