<div class="container">
  <div class="card text-center">
    <div class="card-header">
      所属グループ一覧
    </div>
  </div>
  <% if @groups.count != 0 %>
    <% @groups.each do |g| %>
      <% group = Group.find_by(id: g.group_id) %>
      <div class="card text-center">
        <div class="card-body">
          <a href="/groups/<%= group.id %>"><h4 class="card-title"><%= group.name %></h4></a>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card text-center">
      <div class="card-body">
        <% unless session[:user] %>
          <h4 class="card-title">一覧を表示するには、サインインしてください</h4>
        <% else %>
          <h4 class="card-title">所属しているグループはありません</h4>
        <% end %>
      </div>
    </div>
  <% end %>
</div>