<div class="container">
  <div class="card text-center">
    <div class="card-header">
      メインメニュー
    </div>
    <div class="card-body">
      <h4 class="card-title">新規プロジェクト作成</h4>
      <p class="card-text">新しくプロジェクトを作成します。</p>
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#create-project-modal">作成</button>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">プロジェクト一覧</h4>
      <p class="card-text">プロジェクトの一覧を表示します。</p>
      <a class="btn btn-primary" href="/projects">表示</a>
    </div>
  </div>

  <form action="/create_project" method="post">
    <div class="modal fade" id="create-project-modal" role="dialog" tabindex="-1" aria-labelledby="label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label1">新規プロジェクト作成</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <input class="form-control" type="text" name="project_name" placeholder="プロジェクト名">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="form-control btn btn-secondary" type="button" data-dismiss="modal">キャンセル</button>
            <input class="form-control btn btn-primary" type="submit" value="作成">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>