<div class="container">
  <div class="card text-center">
    <div class="card-header">
      メインメニュー
    </div>
    <div class="card-body">
      <h4 class="card-title">新規プロジェクト作成</h4>
      <p class="card-text">新しくプロジェクトを作成します。</p>
      <a class="btn btn-primary" href="/create_project">作成</a>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">プロジェクト一覧</h4>
      <p class="card-text">プロジェクトの一覧を表示します。</p>
      <a class="btn btn-primary" href="/projects">表示</a>
    </div>
  </div>
</div>