<div class="container">
  <div class="project-description">
    <div class="container">
      <div class="row">
        <h2 class="tms-project-title col">LINEアカウント連携</h2>
      </div>
    </div>
  </div>
  <br>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">TMS 2.0のBotアカウントを友だちに追加</h4>
      <p class="card-text">QRコードで追加する</p>
      <img src="https://qr-official.line.me/sid/M/862ehbwc.png">
      <p class="card-text">追加した後「連携」とメッセージを送ると、URLの返信が来るのでそのURLを開き、TMS 2.0のアカウントでサインインしてください。<br>返信まで時間がかかる場合があります。URLの有効期限は10分間です。</p>
    </div>
  </div>
</div>