<div class="container">
  <div class="card text-center">
    <div class="card-header">
      プロジェクト一覧
    </div>
    <div class="card-body">
      <p class="card-text">作成されているプロジェクトの一覧</p>
    </div>
  </div>
  <% if @projects.count != 0 %>
    <% @projects.each do |project| %>
      <div class="card text-center">
        <div class="card-body">
          <a href="/projects/<%= project.id %>"><h4 class="card-title"><%= project.name %></h4></a>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card text-center">
      <div class="card-body">
        <% unless session[:user] %>
          <h4 class="card-title">一覧を表示するには、サインインしてください</h4>
        <% else %>
          <h4 class="card-title">作成されているプロジェクトはありません</h4>
        <% end %>
      </div>
    </div>
  <% end %>
</div>