.tms-project-title {
  margin-left: 45px;
  margin-top: 40px;
  font-size: 40px;
}

.tms-project-progress {
  text-align: center;
}

.pre-wrap {
  white-space: pre-wrap;
}

.invisible-form {
  display: none;
}